@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/Fira_Sans/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'nasin-nanpa';
    src: url('fonts/nasin-nanpa/nasin-nanpa-3.0.1.otf') format('opentype');
}

@font-face {
    font-family: 'linja-lipamanka';
    src: url('fonts/linja-lipamanka/linjalipamanka-normal.otf') format('opentype');
}

@page {
    margin: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background: #fff;
}

header, section {
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
    margin-top: 1em; /* Adjust based on your layout needs */
    text-align: center; /* Center the footer content */
}


h1, h2 {
    font-family: 'Fira Sans', sans-serif;
    color: #333;
}

h1 {
    font-size: 33px;
}

h2 {
    font-size: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    color: #666;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    color: #666;
    margin-bottom: 0.3em;
}

.dashed-list ul {
    list-style-type: none;
    padding-left: 10px;
}

.dashed-list li::before {
    content: "- ";
    padding-right: 10px;
}

.sp {
    font-family: 'nasin-nanpa', sans-serif;
    font-size: 1.1em;
}

.four-columns {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4;    /* Firefox */
    column-count: 4;         /* Standard syntax */

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px;    /* Firefox */
    column-gap: 20px;         /* Standard syntax */
}
