@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/Fira_Sans/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'nasin-nanpa';
    src: url('fonts/nasin-nanpa/nasin-nanpa-4.0.0.otf') format('opentype');
}

@font-face {
    font-family: 'linja-lipamanka';
    src: url('fonts/linja-lipamanka/linjalipamanka-normal.otf') format('opentype');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

header, section {
    margin: 0;
}

footer {
    font-size: 12px;
    color: #222;
    position: fixed;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

h1, h2 {
    font-family: 'Fira Sans', sans-serif;
    color: #222;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    page-break-inside: avoid;
}

td {
    color: #222;
    vertical-align: top;
    padding-right: 0;
    padding-left: 0;
}

td:nth-child(1) {
    text-align: right;
    font-weight: bold;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    color: #444;
    text-align: left;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.dashed-list ul {
    list-style-type: none;
    padding-left: 10px;
}

.dashed-list li::before {
    content: "- ";
    padding-right: 10px;
}

.grammar {
    page-break-after: always;
}

.vocab-note {
    padding-left: 2em;
}

.sp {
    font-family: 'nasin-nanpa', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
}