@page {
    margin: 40px;
    margin-bottom: 80px;
}

body {
    font-size: 15px;
    line-height: 1.3;
}

footer {
    bottom: -60px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
}

td {
    padding-bottom: 5px;
}

td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}

.four-columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3;    /* Firefox */
    column-count: 3;         /* Standard syntax */
}

.grammar {
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px;    /* Firefox */
    column-gap: 30px;         /* Standard syntax */
}

.vocab {
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px;    /* Firefox */
    column-gap: 15px;         /* Standard syntax */
}